* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
  }
  
  body {
    background: #001e4d;
  }

  li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
  }

  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;

  }

  .nav__links{
    list-style: none;
    justify-content: center;
    padding-left: 90px;

  }

  .nav__links li{
    display: inline-block;
    padding: 0px 20px;
    justify-content: center;

  }

  .nav__links a{
    transition: all 0.4s ease 0s;
  }

  .nav__links a:hover{
    color: #0088a9;
  }

  button{
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.4s ease 0s;
  }

  button:hover{
    background-color: rgba(0,136,169,0.8);
  }

  a{
      text-decoration: none;
  }

  
  .app {
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto;
    border-radius: 10px;
    padding: 30px;
    
  }
  
  .app h1 {
    font-size: 30px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
    text-align: center;
    
  }
  
  .quiz {
    padding-top: 30px;
  }
  
  .quiz h2 {
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
  
  }
  
  .btn {
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.6s;
  }
  
  .btn:hover:not([disabled]) {
    background: #222;
    color: #fff;
  }
  
  .btn:disabled {
    cursor: no-drop;
  }
  
  #next-btn {
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 6px;
    cursor: pointer;
    display: none;
  }
  
  .correct {
    background: hsl(109, 100%, 69%);
  }
  
  .incorrect {
    background: rgb(247, 80, 80);
  }
  
  .explanation-container {
    margin-top: 20px;
  }
  
  .explanation {
    margin-bottom: 10px;
    color: #777;
    box-sizing: border-box;
  }
  
  .restart-btn {
    display: block;
    margin: 20px auto;
    text-align: center;
}
 
  